.photo-grid__items {
  max-width: 1184px;
  min-height: 213px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
    min-height: 225px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    min-height: 264px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
  }
}